# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Django
db.sqlite3
media/

# Static build output
staticfiles/

# Ignore dataset contents
dataset/**
!dataset/README.md

# PyCharm
.idea/

# macOS
.DS_Store

# Docker/Postgres
postgres_data/
*.sql
*.dump

# Node
node_modules/

# Sass cache
.sass-cache/

# Ignore Embeddings
apps/recommender/embeddings/**/movie_embeddings.npy
apps/recommender/embeddings/**/movie_ids.json