# Django Framework + Postgres
Django==6.0.5
psycopg2-binary

# Python Packages
pandas
numpy
requests
matplotlib

# Image Similarity
torch
torchvision
Pillow
tqdm
open_clip_torch
transformers
accelerate
safetensors
timm

# subtitles model
sentence-transformers
scikit-learn

# Item-Item kNN
scipy>=1.11.0


django-extensions