{% load static %}
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}">
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <meta name="apple-mobile-web-app-title" content="RecSys">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">

        <!-- Website Title -->
        <title>Movie Recommender | G4: Konrad, Schwazer</title>
    </head>

    <body class="recommender{% block bodyclass %}{% endblock %}">
        <!-- Navigation -->
        {% block header %}
        {% endblock %}

        <!-- Main Content -->
        {% block content %}
        {% endblock %}

        <!-- Modal Content -->
        {% block modal %}
        {% endblock %}

        <!-- Javascript -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/movie_selection.js' %}"></script>
        <script src="{% static 'js/recommendation_slider.js' %}"></script>
        <script src="{% static 'js/popover.js' %}"></script>
    </body>
</html>