{% extends "base.html" %}

{% block content %}
    <!-- Welcome Card -->
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-md welcome">

            <!-- Headline, Description -->
            <h2 class="mb-3">Welcome!</h2>
            <p class="mb-5">Enter a userId (<= 10,000) and the number of neighbors (<= 500) that should be used for the
                Collaborative Filtering Recommender System.</p>

            <!-- Form -->
            <form method="post" novalidate>
                {% csrf_token %}

                <!-- UserID -->
                <div class="form-floating mb-3">
                    <input type="text" name="user_id" id="user-id-input" class="form-control"
                           placeholder="Enter ID (1–10,000)">
                    <label for="user-id-input">User ID</label>
                    <div class="invalid-feedback" id="user-status"> User does not exist.</div>
                </div>

                <!-- Neighbors, Recommendations -->
                <div class="row g-3 mb-5">
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" name="k" id="k" min="1" max="{{ MAX_K }}" value="50"
                                   class="form-control" placeholder=" ">

                            <label for="k">Neighbors (k)</label>
                            <div class="invalid-feedback">
                                Enter 1–500
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating">
                            <input type="number" name="n" id="n" min="1" max="{{ MAX_N }}" value="20"
                                   class="form-control" placeholder=" ">
                            <label for="n">Recommendations (n)</label>
                            <div class="invalid-feedback">
                                Enter 1–60
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="d-flex gap-3">
                    <button type="button" id="lucky-button" class="btn btn-outline-primary w-40 flex-fill py-3">Surprise
                        Me
                    </button>
                    <button type="submit" id="submit-button" class="btn btn-primary w-60 flex-fill py-3" disabled>
                        Recommend Movies
                    </button>
                </div>
            </form>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script-bottom %}
    <script>
        window.RECOMMENDER_LIMITS = {
            maxUserId: {{ MAX_USER_ID }},
            maxK: {{ MAX_K }},
            maxN: {{ MAX_N }}
        };
    </script>
{% endblock %}

